.right-aside {
  width: 300px;
  background-color: #1E1E1E;
  color: white;
  transition: width 0.3s ease;
  overflow: hidden;
  position: relative;
    
  }

  .queue-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding-right: 0.5em;
  }

  .queue-title {
    font-size: 14px;
    color: #ccc;
    padding:1em;
    
  }
  
  .queue-title strong {
    color: white;
    margin-right: 4px;
      display: inline-block;
      border-bottom: 2px solid #1db954;
      padding-bottom: 2px;

  }
  
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .now-playing-title {
    font-size: 14px;
    color: white;
    margin-bottom: 12px;
    padding-left: 1em;
  }

  .now-playing-card {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #181818;
    padding: 12px;
    border-radius: 8px;
    margin: 0 6px;
  }


  .now-playing-card img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    object-fit: cover;
  }

  .next-up-section{
    margin-top: 24px;
  }

  .next-title{
    font-size: 14px;
    color: white;
    margin-bottom: 12px;
    padding-left: 1em;
}

  .next-music-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }


  .next-music-card{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
    background-color: #2a2a2a;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
    margin: 0 6px;
  }

  .next-music-card:hover{
    background-color: #3a3a3a;
  }

  .next-music-img{
    width: 60px;
    height: 60px;
    border-radius: 4px;
    object-fit: cover;
  }

  